POSTGRES_DB=cms
POSTGRES_USER=cms
POSTGRES_PASSWORD=password
CMS_DB_URL=jdbc:postgresql://postgres:5432/cms
CMS_STORAGE_LOCAL_PATH=/var/cms/storage
CMS_BACKUP_PATH=/var/cms/backup
CMS_CORS_ALLOWED_ORIGINS=http://localhost:3000
